# Part C:Business Logic Automation

In [9]:
import pandas as pd

In [11]:
df=pd.read_csv('datasets/main_loan_base.csv')
df.head()

,loan_acc_num,customer_name,customer_address,loan_type,loan_amount,collateral_value,cheque_bounces,number_of_loans,missed_repayments,vintage_in_months,tenure_years,interest,monthly_emi,disbursal_date,default_date
0,LN79307711,Aarna Sura,"09/506, Anand Path, Ongole 646592",Consumer-Durable,21916,4929.47,200,9.17,20638.94,20648.86,1.70,10.1,1012.32,2019-04-14,2020-07-31
1,LN88987787,Amira Konda,"11, Dhaliwal Circle\nRaichur 659460",Two-Wheeler,121184,10254.50,200,6.67,134551.04,134560.46,1.97,11.8,5693.24,2015-04-14,2016-07-30
2,LN78096023,Eshani Khosla,H.No. 31\nAtwal Street\nKatihar-037896,Car,487036,116183.86,200,9.81,490405.74,490410.18,2.43,14.6,16788.02,2015-01-10,2015-04-18
3,LN56862431,Divij Kala,"766, Gulati Marg\nPudukkottai-051396",Two-Wheeler,52125,10310.05,200,9.96,46195.89,46197.25,1.61,9.6,2395.69,2018-02-07,2018-09-13
4,LN77262680,Vaibhav Bir,"55/73, Sachdev Marg\nDharmavaram-332966",Consumer-Durable,8635,1051.25,200,9.01,7813.47,7819.90,1.64,9.6,396.87,2014-12-25,2016-02-20

In [12]:
def calculate_risk_score(row):
    try:
        return ((row['missed_repayments'] / 1000) * 2) + (row['loan_amount'] / row['collateral_value']) + (row['interest'] / 2)
    except ZeroDivisionError:
        return None

# Function to classify risk based on score
def classify_risk(score):
    if score is None:
        return "INVALID"
    elif score < 15:
        return "LOW"
    elif 15 <= score <= 25:
        return "MEDIUM"
    else:
        return "HIGH"

In [13]:
df['risk_score'] = df.apply(calculate_risk_score, axis=1)
df['risk_level'] = df['risk_score'].apply(classify_risk)

In [14]:
# Show sample output
print("Sample EMI Risk Tagging Output:\n")
print(df[['loan_acc_num', 'loan_amount', 'collateral_value', 'missed_repayments', 'interest', 'risk_score', 'risk_level']].sample(10, random_state=42))

Sample EMI Risk Tagging Output:

      loan_acc_num  loan_amount  collateral_value  missed_repayments  \
33553   LN80698313       285010          36950.41          141202.44
9427    LN35511969       796820          15242.18         1564439.85
199     LN45845262      1335541         250652.05         1480952.11
12447   LN91749203       188256          32829.92          444563.81
39489   LN52987345       138766           3458.00           73104.85
42724   LN38109773      1484177         360473.40          980002.14
10822   LN79734034      1619707         364054.69          901026.80
49498   LN79414191         3679            972.07            2977.74
4144    LN71048501       263960          39111.71          235659.78
36958   LN52428104       283064          52511.22          287455.65

       interest   risk_score risk_level
33553      11.3   295.768191       HIGH
9427       11.1  3186.706999       HIGH
199        11.8  2973.132487       HIGH
12447      13.2   901.461901       HIGH
39489      10.3   191.488676       HIGH
42724      10.2  1969.221580       HIGH
10822      10.8  1811.902676       HIGH
49498      13.9    16.690187     MEDIUM
4144       13.2   484.668434       HIGH
36958      14.7   587.651843       HIGH